@using Microsoft.AspNet.Identity

@{
    var userName = User.Identity.GetUserName();
    var displayName = userName != null && userName.Contains("@") ? userName.Split('@')[0] : userName;
}

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

        <div class="account-menu">

            <!-- BOTÓN -->
            <span class="account-name" id="userMenuBtn">
                Hola, <strong>@displayName</strong> ▾
            </span>

            <!-- DROPDOWN -->
            <div class="dropdown-content" id="userDropdown">

                <span class="dropdown-title">Cuenta</span>

                @Html.ActionLink("Gestionar cuenta", "Index", "Manage")
                @Html.ActionLink("Reporte de adopciones", "ReporteAdopciones", "Adopciones")
                @Html.ActionLink("Mi perfil", "MiPerfil", "Adopciones")

                <hr />

                <a href="javascript:document.getElementById('logoutForm').submit()" class="text-danger">
                    Cerrar sesión
                </a>

            </div>
        </div>
    }
}
else
{
    <div class="account-links">
        @Html.ActionLink("Registrarse", "Register", "Account", null, new { @class = "nav-btn-outline" })
        @Html.ActionLink("Iniciar sesión", "Login", "Account", null, new { @class = "nav-btn-solid" })
    </div>
}