@model IEnumerable<AdoptameLiberia.Models.Adopcion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Animal.Nombre_Animal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Solicitud.ID_Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Adopcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado_Adopcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seguimiento_Inicial)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Animal.Nombre_Animal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Solicitud.ID_Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Adopcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado_Adopcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seguimiento_Inicial)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Adopcion }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Adopcion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Adopcion })
        </td>
    </tr>
}

</table>
