@model AdoptameLiberia.Models.Mascotas.AnimalModel

<h2>Registrar Mascota</h2>

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(m => m.Nombre_Animal)
        @Html.TextBoxFor(m => m.Nombre_Animal)
    </div>

    <div>
        @Html.Label("ID Raza")
        @Html.TextBoxFor(m => m.ID_Raza)
    </div>

    <div>
        @Html.Label("ID Tipo Animal")
        @Html.TextBoxFor(m => m.ID_TipoAnimal)
    </div>

    <div>
        @Html.LabelFor(m => m.Edad)
        @Html.TextBoxFor(m => m.Edad)
    </div>

    <div>
        @Html.LabelFor(m => m.Sexo)
        @Html.TextBoxFor(m => m.Sexo)
    </div>

    <div>
        @Html.LabelFor(m => m.Tamano)
        @Html.TextBoxFor(m => m.Tamano)
    </div>

    <div>
        @Html.LabelFor(m => m.Peso)
        @Html.TextBoxFor(m => m.Peso)
    </div>

    <div>
        @Html.LabelFor(m => m.Descripcion)
        @Html.TextAreaFor(m => m.Descripcion)
    </div>

    <br />
    <button type="submit">Guardar</button>
}


