@model AdoptameLiberia.Models.Campanias.InscripcionCastracion

@{
    ViewBag.Title = "Inscribir en campaña";
}

<h2>Inscribir en campaña</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.CampaniaCastracionId)

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.AnimalId, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("AnimalId", null, "Seleccione un animal", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.AnimalId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group mt-3">
            <input type="submit" value="Guardar inscripción" class="btn btn-primary" />
            @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-secondary ml-2" })
        </div>
    </div>
}