@model AdoptameLiberia.Models.Finanzas.Gasto

<h2>Registrar Gasto</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(m => m.ID_Categoria)
        @Html.DropDownList("ID_Categoria", null, "Seleccione", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Monto)
        @Html.TextBoxFor(m => m.Monto, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Descripcion)
        @Html.TextBoxFor(m => m.Descripcion, new { @class = "form-control" })
    </div>

    <button class="btn btn-success">Guardar</button>
}